.about {
	position: relative;
	padding: 120px 0 70px;
	.icon-circle-blue {
		right: -150px;
		bottom: -150px;
		opacity: .70;
		animation: fa-spin 30s infinite;
	}
	.icon-dots {
		left: 50%;
		top: 30%;
	}
	.icon-circle-1 {
		left: -200px;
		top: -200px;
		opacity: .05;
	}
	.content-column {
		position: relative;
		margin-bottom: 50px;
		.inner-column {
			position: relative;
		
			
		}
		
		.list-style-one {
			margin-bottom: 30px;
		}
		.btn-box {
			position: relative;
			a {
				padding: 15px 30px;
				line-height: 20px;
				font-weight: 600;
				font-size: 15px;
				background: #345588;
				color: $white;
				border: 1px solid #345588;
				transition: $transition;&:hover{
					background-color: $primary-color;
					border-color: $primary-color;
				}
			}
		}
	}
	.image-column {
		position: relative;
		margin-bottom: 50px;
		// &::before{
		// 	position: absolute;
		// 	top: -20px;
		// 	left: -10px;
		// 	background-repeat: no-repeat !important;
		// 	border-radius: 50%;
		// 	background-size: contain;
		// 	width: 100%;
		// 	height: 100%;
		// 	content: "";
		// 	background: url('../images/bg/abot_bg.png');
		// }
		.image-box {
			position: relative;
			
			img {
				position: relative;
				z-index: 1;
				border-radius: 50%;
                width: 100%;
				border: 15px solid #ffffff;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
			}
		}
		.image {
			position: relative;
			margin-bottom: 0;
			&:before {
				position: absolute;
				right: -10%;
				top: -10%;
				height: 120%;
				width: 120%;
				background-image: url(../images/shape-2.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
				animation: dizzling 10s infinite;
				transition: all 300ms ease;
				content: "";
			}
		}
	}
	.fadeIn {
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
	}
	.animated {
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}

@media screen and (max-width:992px){
.about{
	text-align: center;
	.image-column{
		@include center;
		img{
			width: 70% !important;
		}
	}
}
}