// color
$white:#fff;
$dark:#222222;
$dark_2:#404040;
$gray:#888888;
$pink:#FF006A;
$orange:#F38242;
$blue:#3f4161;
$primary-color:#78C8E1;
$secondary-color:#2A224B;
$footer-bg:#131144;
$footer-nav-bg:#0e0c38;
$transition:0.4s ease-in-out;
// Font weight
$fw-400:400;
$fw-500:500;
$fw-600 :600;
$fw-700 :700;
// font size
$font-xs:13px;
$font-sm:14px;
$font-s:15px;
$font-md:16px;
$font-lg:17px;
$font-xl:18px;
$font-xxl:19px;
$font-xxxl:20px;
$font-25:25px;
$font-40:40px;
$font-60:60px;
// box shadow
$box-shadow_1: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
$box-shadow_2: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

